<!DOCTYPE HTML>

<head>
    <style>
    html, body{
        font-family: Arial;
    background-color: #FCFFF5;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow-y:hidden;
    }
    .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
    }
        .title{
            font-weight: normal;
            text-align: center;
        }

        .in_box {
             background-color: #FFFFFF;
            
            border-style: solid;
            border-width: 2px;
            padding: 5px;
        }

        .center_abs{
            position: fixed;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
        }

        .text_box{
           
            float: right;
            width: 100%;
            height: 20px;
            padding: 0px;
        }

        .label{
            width: 100%;
        }

        .line{
            width: 100%;
        }

        .requirements{
            text-align: center;
        }

        button{
            background-color: #FFFFFF;
        }
    </style>
      <meta name="viewport" content="width=400">
</head>

<body>
    <div class="center_abs">
    <h1 class="title">House Task (Beta)</h1>
    <p style="width: 400px; text-align: justify; margin: 0 auto; margin-bottom: 8px;">A web application for logging house chore efforts in shared living. If you created your account before 08/04, you will need to create another. Sorry about that!</p>
    <div class="in_box">
        <div class="options">
        <button onclick="showLogin()" id="loginbtn" style="width: 49%">Log In</button>
        <button onclick="showSignup()" id="signupbtn" style="width: 49%">Sign Up</button>
        </div>

        <% if (message) { %>
            <p><%= message %></p>
        <% } %>

        <form action="/post/login" method="post" id="login" onsubmit="return submitForm()">
            <table style="width: 100%">
                <tr>
                <td>
                <div class="label">Email: </div>
                </td>
                <td>
                <input class="text_box" type="text" name="email" type="email" autocorrect="off" autocapitalize="none" />
                </td>
                </tr>
                <tr>
                <td>
                <div class="label">Password: </div>
                </td>
                <td>
                <input class="text_box" type="password" name="password" />
                </td>
                </tr>
            </table>
            <button id="logintrigger" type="submit" style="width: 100%; margin-top: 15px;">Submit</button>
        </form>
        <form name="signupForm" action="/post/signup" method="post" id="signup" onsubmit="return submitForm()">
            <table style="width: 100%">

                <tr>
                <td>
                <div class="label">First Name: </div>
                </td>
                <td>
                <input class="text_box" type="text" name="fname" />
                </td>
                </tr>
                
                
                <tr>
                <td>
                <div class="label">Surname: </div>
                </td>
                <td>
                <input class="text_box" type="text" name="lname" />
                </td>
                </tr>
            
                <tr>
                <td>
                <div class="label">Email: </div>
                </td>
                <td>
                <input class="text_box" type="text" name="email" type="email" autocorrect="off" autocapitalize="none" />
                </td>
                </tr>
                
                <tr>
                <td>
                <div class="label">Password: </div>
                </td>
                <td>
                <input class="text_box" type="password" name="password" />
                </td>
                </tr>

            </table>
            <p class='requirements'>Requirements:</p>
            <p class='requirements'>All fields must be complete</p>
            <p class='requirements'>You must use a valid email</p>
            <p class='requirements'>Your password must be at least 8 characters long</p>
            <button type="submit" style="width: 100%; margin-top: 15px;">Submit</button>
        </form>
    </div>
    </div>
    <div class="footer">
        <a>Luke Jackson 2017</a>
    </div>
    <script>
                                                                                          function showLogin() {
                                                                                              document.getElementById('login').style.display = "block";
                                                                                              document.getElementById('signup').style.display = "none";
                                                                                          }
                                                                                          function showSignup() {
                                                                                              document.getElementById('signup').style.display = "block";
                                                                                              document.getElementById('login').style.display = "none";
                                                                                          }
                                                                                          showLogin();

                                                                                          function submitForm() {
                                                                                          };
    </script>
</body>