<!DOCTYPE HTML>
<head>
</head>
<body>

<button onclick="showLogin()" id="loginbtn">Log In</button>
<button onclick="showSignup()" id="signupbtn">Sign Up</button>

<% if (message) { %>
<p><%= message %></p>
<% } %>

<form action="/post/login" method="post" id="login" onsubmit="return submitForm()">
    <div>
        <label>Email</label>
        <input type="text" name="email" type="email" autocorrect="off" autocapitalize="none"/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password"/>
    </div>
    <button id="logintrigger" type="submit">Submit</button>
</form>
<form name="signupForm" action="/post/signup" method="post" id="signup" onsubmit="return submitForm()">
        <div>
            <label>First Name</label>
            <input type="text" name="fname"/>
        </div>
        <div>
            <label>Surname</label>
            <input type="text" name="lname"/>
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" type="email" autocorrect="off" autocapitalize="none"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password"/>
        </div>
        <button type="submit">Submit</button>
        
    </form>
    <script>
        function showLogin(){
            document.getElementById('login').style.visibility = "visible";
            document.getElementById('signup').style.visibility = "hidden";
        }
        function showSignup(){
            document.getElementById('signup').style.visibility = "visible";
            document.getElementById('login').style.visibility = "hidden";
        }
        showLogin();

        function submitForm(){
        };

        
    </script>
</body>
